build-config.cfg
tests/bootstrap-config.php
node_modules
src/js/build

/wordpress/
/test-environment/
/vendor/

wp-content/*
wp-content/themes/*
wp-content/plugins/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/mu-plugins/*
wp-content/languages/*