version: '2'

services:
  wordpress:
    build:
      context: .
      dockerfile: ./docker/wordpress/Dockerfile
    ports:
      - 80:80
    depends_on:
      - mariadb
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DEBUG: 'true'
    volumes:
      - ./src:/var/www/html/wp-content/plugins/jeo
      - ./wp-content:/var/www/html/wp-content/

  mariadb:
    image: mariadb:10.4
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./docker/mariadb/data:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: therootpassword
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  watcher:
    build:
      context: .
      dockerfile: ./docker/watcher/Dockerfile
    volumes:
      - ./:/app

volumes:
  mariadb_data:
