.search-adress-input .components-form-token-field__suggestion {
	margin: 0;
}

.search-adress-input .components-form-token-field__suggestion:nth-of-type(even) {
	background-color: #f6f7f7;
}

.search-adress-input .components-form-token-field__suggestion:hover {
	background-color: #f0f0f1;
}

.jeo-geo-autocomplete {
	padding: 5px;
}
