#map-preview .mapboxgl-map {
	margin: auto;
}

.zoom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 1px !important;
}

.button-group-div {
    display: inline-block;
    background-color: rgb(182, 182, 182);
    padding: 0px 1px 3px;
	border-radius: 4px;
}