.project-card {
    &--wrapper {
        position: relative;
        padding-top: 56.25%;
        height: 0;
        display: block;

        &:before {
            content: "";
            display: block;
            position: absolute;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #191E23 100%);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        img  {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--meta {
        position: absolute;
        bottom: 40px;
        text-align: center;
        width: 100%;
        z-index: 2;
        color: #FFFFFF;

        @include tablet {
            bottom: 15px;
        }

        h3 {
            font-size: size(40);
            font-weight: bold;
            letter-spacing: 0;
            line-height: size(55);
            text-align: center;
            margin: 0;
        }

        .categories {
            opacity: 0.6;
            font-size: size(18);
            font-weight: bold;
            letter-spacing: 0;
            line-height: size(24);
            text-align: center;
            text-transform: uppercase;
        }
    }


}