.done-button {
    margin: 12px 13px 0;
}

.create-layer-button {
    margin: 0;
}

.all-layers-list {
    display: flex;
    flex-direction: row;
}

.all-layers-list-button {
    margin-top: 5px;
}

.all-layers-list-link {
    color: inherit;
    text-decoration: none;
}

.all-layers-list-link:hover {
    letter-spacing: 0.2;
}

.jeo-layers-library-filters, .jeo-layers-library-filters-button-filter {
    margin-right: 5px;
}

.all-layers-list p a {
    color: #0073aa !important;
}

.all-layers-list p a:hover {
    color: #34a6dd !important;
}

.layer-card .layer-info{
    margin-top: 6px;
}

.layer-card {
    height: 80px;
}

.layer-card .layer-buttons {
    display: none;
}

.layer-card:hover .layer-buttons {
    display: flex;
    flex-direction: row;
}

.layer-card:hover .add-button, .layer-card:hover .remove-button {
    margin-top: -6px;
}

.layer-card:hover .edit-button {
    text-decoration: none;
}

.layer-card:hover .button-divider {
    opacity: 0.4;
    margin: -6px 4px 0;
}

.layer-card:hover .add-button {
    color: #0073aa;
}

.layer-card:hover .remove-button {
    color: #a00;
}

.layer-card:hover .add-button:hover {
    color: #34a6dd;
    cursor: pointer;
}

.layer-card:hover .remove-button:hover {
    color: #e63939;
    cursor: pointer;
}

.jeo-layers-library-controls .left, .jeo-layers-library-controls .right {
    display: flex;
    flex-direction: row;
}

.jeo-layers-library-controls .right {
    margin-right: 24px;
    float: right;
}

.jeo-layers-library-controls .left {
    float: left;
}

.jeo-layers-library-controls {
    width: 100%;
    display: inline-block !important;
    overflow: auto;
}

.jeo-layers-library-controls__label {
    margin: 6px;
}