tr .dashicon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.jeo-layers-list .layer > div {
	display: inline-block;
}

.jeo-layers-list .layer {
	display: grid;
	align-items: center;
    grid-template-columns: 40px 3fr 2fr 3fr 2fr 3fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "a b c d e f g"
		"h h h h h h h"
		"i i i i i i i";
}


.jeo-layers-list .use-control > .components-base-control > div > div {
	flex-direction: row;
    align-items: center;
}

.informative-message {
    grid-area: i;
    margin: 0.5rem;
}

.jeo-layers-list .layers-selector {
	grid-area: h;
}
.jeo-layers-list .layers-selector button.toggle-button svg {
	width: 26px;
	margin-right: 15px;
}

.jeo-layers-list .layers-selector button.toggle-button {
	border: none;
	padding: 0;
	background: unset;
	width: 100%;
    display: flex;
	align-items: center;
    text-align: left;
}

.jeo-layers-list .layers-selector button.toggle-button.active {
	font-weight: bold;
}

.jeo-layers-list button.show-style-layers {
	background: none;
    border: 0;
    width: 34px;
    padding: 0 10px;
    cursor: pointer;
    color: #444;
}


.jeo-layers-list .layer > .layers-selector {
	column-count: 4;
	border-top: 2px solid #0000002e;
    padding-top: 15px;
    margin: 0.5rem
}

.jeo-layers-list .layer .layer-actions {
    display: flex;
    justify-content: flex-end;
}

.jeo-layers-list .layers-selector .style-layer {
	display: flex;
	align-items: center;
	break-inside: avoid-column;
    padding: 5px 0;
}

