.done-button {
    margin: 12px 13px 0;
}

.create-layer-button {
    margin: 0;
}

.all-layers-list {
    display: flex;
    flex-direction: row;
}

.all-layers-list-button {
    margin-top: 5px;
}

.all-layers-list-link {
    color: inherit;
    text-decoration: none;
}

.all-layers-list-link:hover {
    letter-spacing: 0.2;
}

.jeo-layers-library-filters {
    margin-right: 5px;
}

.jeo-layers-library-filters-button {
    margin-right: 10%;
}
