.zoom-buttons-div {
    margin: 5px 0 20px;
}

.zoom-button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 1px !important;
}

.button-group-div {
    display: flex;
    flex-direction: row;
    background-color: rgb(165, 165, 165);
    padding: 1px 1px 2px;
    border-radius: 3px;
}