$font: var( --jeo-font );
$font-stories: var( --jeo-font-stories );

.single-storymap {
	margin: 0;
	padding: 0;

	.embed-footer {
		position: fixed;
	}

	strong {
		font-weight: bold;
	}

	a:hover {
		opacity: 0.7;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	#content {
		margin: 0;
	}

	footer {
		display: none;
	}

	#footer {
		width: 100%;
		min-height: 5vh;
		padding-top: 2vh;
		padding-bottom: 2vh;
		text-align: center;
		line-height: 25px;
		font-size: 13px;
	}
}

.story-map {
	margin: 0;
	padding: 0;
	position: relative;

	@media (max-width: 829px) {
		.storymap-page-title {
			margin-top: 70px;
		}

		.mapboxgl-ctrl-top-left .mapboxgl-ctrl:first-of-type {
			margin-top: 45px;
		}
	}

	@media (min-width: 830px) {
		.mapboxgl-ctrl-top-left .mapboxgl-ctrl:first-of-type {
			margin-top: 30px;
		}
	}

	.jeomap {
		position: absolute;
	}

	.the-story {
		background-color: rgba(128, 128, 128, 0.1);
		left: 50%;
		margin: 0 -50vw;
		position: relative;
		right: 50%;
		top: 0;
		width: 100vw;

		&.loaded {
			background-color: transparent;
			top: -100vh;
		}
	}

	.not-navigating-map {
		position: relative;

		.mapboxgl-map {
			border: none;
			height: 100vh;
			left: 0;
			margin-left: -50vw;
			margin-right: -50vw;
			max-width: unset;
			position: sticky;
			right: 50%;
			top: 0;
			transition: filter 0.7s ease;
			width: 100vw;
			z-index: -5;
		}
	}

	.storymap-features {
		padding-top: 10vh;
		padding-bottom: 10vh;
		z-index: 100;

		.title {
			margin-top: 0;
			font-family: $font-stories;
		}

		p.slide-description {
			letter-spacing: 0;
			line-height: 32px;
			font-family: $font-stories;

			&:last-of-type {
				margin-bottom: 0px;
			}

			a {
				color: var( --jeo-primary-color );

				&:hover {
					color: var( --jeo-primary-color-darker-15 );
				}

				&:visited {
					color: var( --jeo-primary-color );
				}
			}
		}
	}

	.centered {
		width: 50vw;
		margin: 0 auto;
	}

	.lefty {
		width: 33vw;
		margin-left: 5vw;
	}

	.righty {
		width: 33vw;
		margin-left: 62vw;
	}

	.light {
		color: #0a0a0a;
		background-color: #ffffff;
		border-radius: 10px;
	}

	.dark {
		color: #fafafa;
		background-color: #444;
	}

	.light, .dark {

		p {
			color: inherit !important;
		}
	}

	.storymap-header {
		width: 700px;
		padding: 2vh;
		text-align: center;
		background: none;
		color: white;
		margin: auto auto 0px auto;

		.post-info {
			filter: drop-shadow( 0px 0px 4px black );
			position: relative;
			display: flex;
			flex-direction: row;

			.author {
				margin-right: auto;
			}

			.date {
				margin-left: auto;
				font-size: 14px;
				line-height: 33px;
				opacity: 0.5;
				color: #ffffff;
				letter-spacing: 0;
				line-height: 19px;
				font-family: $font;
			}
		}

		.storymap-title {
			position: relative;
			font-weight: bold;
			font-family: $font-stories;
		}

		.storymap-description {
			filter: drop-shadow( 0px 0px 4px black );
			position: relative;
			line-height: 33px;
			font-family: $font-stories;

			a {
				color: var( --jeo-primary-color );

				&:hover {
					color: var( --jeo-primary-color-darker-15 );
				}

				&:visited {
					color: var( --jeo-primary-color );
				}
			}
		}
	}

	.step {
		padding-bottom: 50vh;
		opacity: 0.25;

		& > div {
			padding: 35px;
			line-height: 25px;
			opacity: 0.87;
			border-radius: 10px;
			background-color: #ffffff;
			box-shadow: 0 3px 6px 0 rgba( 0, 0, 0, 0.3 );
		}

		img {
			width: 100%;
		}

		h2 {
			font-size: 36px;
		}

		h3 {
			font-size: 27px;
		}

		h4 {
			font-size: 18px;
		}

		p {
			color: inherit;
		}

		span[style*="background-color"] {
			border-radius: 3px;
			padding: 0 3px;
		}
	}

	.step.active {
		opacity: 0.99;
	}

	.navigate-button-display {
		background-color: var( --jeo-primary-color );
		color: white;
		border-radius: 10px;
		width: 237px;
		height: 62px;
		font-weight: bold;
		font-size: 14px;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 2px 6px 0 rgba( 0, 0, 0, 0.3 );
		font-family: $font;
	}

	.storymap-start-button {
		background-color: var( --jeo-primary-color );
		color: white;
		border-radius: 10px;
		width: 237px;
		height: 62px;
		font-weight: bold;
		font-size: 14px;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		margin-top: 20px;
		box-shadow: 0 2px 6px 0 rgba( 0, 0, 0, 0.3 );
		font-family: $font;

		&:hover {
			background-color: var( --jeo-primary-color );
		}

		&:active {
			background-color: var( --jeo-primary-color );
		}

		&:focus {
			background-color: var( --jeo-primary-color );
		}
	}

	.storymap-template-default {
		.navigate-button-display {
			background-color: var( --jeo-primary-color );
		}
	}

	.storymap-page-title {
		filter: drop-shadow( 0px 0px 4px black );
		font-weight: bold;
		position: relative;
		font-family: $font-stories;
	}

	.skip-intro-link {
		filter: drop-shadow( 0px 0px 4px black );
		position: relative;
		margin-top: 5px;
		text-decoration: underline;
		opacity: 0.5;
		color: #ffffff;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 19px;
		font-family: $font;

		&:hover {
			cursor: pointer;
			text-decoration: unset;
		}
	}

	.return-to-slides-container {
		filter: drop-shadow( 0px 0px 4px black );
		position: fixed;
		left: 50%;
		transform: translate( -50%, -50% );
		bottom: 0;
		z-index: 1;

		p {
			text-decoration: underline;
			color: white;
			text-align: center;
			font-weight: bold;
			font-size: 14px;
			font-family: $font;

			&:hover {
				text-decoration: unset;
				cursor: pointer;
			}
		}

		.icon {
			svg {
				display: block;
				margin: auto;
				width: 11px;
			}

			display: flex;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			border: 1px solid white;
			margin: auto;
			background-color: rgba( 255, 255, 255, 0.3 );

			&:hover {
				opacity: 0.7;
				cursor: pointer;
			}
		}
	}

	.skip-intro-icon {
		filter: drop-shadow( 0px 0px 4px black );

		svg {
			display: block;
			margin: auto;
			width: 11px;
		}

		&:hover {
			opacity: 0.7;
			cursor: pointer;
		}
	}

	.layers-selection {
		position: absolute;
		top: 40px;
		right: 20px;
		width: 220px;

		.layers-wrapper {
			.layer {
				display: flex;
				background-color: white;
				border-bottom: 1px solid #b0b2b4;
				padding: 7px;
				font-size: 13px;
				color: #404040;
				align-items: center;

				input {
					margin-right: 10px;
				}
			}
		}
	}

	.layers-selection-icon {
		width: 11px;
	}

	.jeomap div.legend-container {
		right: 20px;
	}

	.navigate-map {
		.mapboxgl-map {
			transition: filter 0.7s ease;
			.mapboxgl-canvas-container {
				canvas {
					width: 100vw !important;
					height: 95vh !important;
				}
			}

			width: 100vw !important;
			height: 96vh !important;
			max-width: 100%;

			@media ( max-width: 800px ) {
				height: 94vh !important;
			}
		}
	}

	@media ( max-width: 650px ) {
		.storymap-header {
			width: unset;
		}
	}

	@media ( max-width: 750px ) {
		.storymap-features {
			width: 90vw;
			margin: 0 auto;
		}

		.return-to-slides-container {
			left: 85px;
			bottom: 30px;
			display: flex;
			align-items: center;
			justify-content: center;

			.icon-return {
				margin-right: 10px;
			}
		}

		.jeomap div.legend-container {
			right: 5px;
			bottom: 75px;
		}

		.layers-selection {
			right: 5px;
		}
	}
}

.embed-storymap {
	border: none;
	left: 50%;
	margin: 40px -50vw;
	max-width: unset !important;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	right: 50%;
	width: 100vw;
}
