.jeo-mapblock.storymap {
	font-family: var(--globalFontFamily), sans-serif;;
}

.story-settings {
	max-width: 40%;
	margin: 10px;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	top: 50px;
	padding: 10px;
	.title {
		label {
			font-weight: bold;
		}
	}
	.description {
		label {
			font-weight: bold;
		}
		textarea {
			height: 150px;
		}
	}
}
.story-settings-hide {
	width: 30%;
	margin: 10px;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	bottom: 15%;
	padding: 10px;
	display: flex;
	.section-title {
		margin: 0 0 0 15px;
	}
	.show-button {
		margin-left: auto;
	}
}
.current-slide-box {
	display: flex;
	flex-direction: row;
	width: 28%;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	left: 70%;
	bottom: 15%;
	padding: 10px;
	div {
		margin: auto;
		display: flex;
	}
}
.slides-settings {
	width: 40%;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #fff;
	.slide-panel {
		width: 100%;
		.layer {
			border-radius: 10px;
			padding: 10px;
			margin: 0 0 5px 0;
			cursor: pointer;
			width: 100%;
			p {
				font-size: 12px;
				margin: 2px 10px;
			}
		}
		.layers {
			display: flex;
			flex-direction: column;
		}
	}
	.slide {
		h2 {
			&::before {
				background: none;
				content: none;
			}
		}
	}
	.add-button {
		margin-top: 15px;
		width: 100%;
		background: rgb(240, 240, 240);
		&:focus {
			background: rgb(240, 240, 240);
		}
		div {
			margin: auto;
			display: flex;
		}
		svg {
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 5px;
		}
		p {
			margin: 0 0 0 5px;
		}
	}
	.lock-location-button {
		margin-top: 15px;
		width: 100%;
		background: rgb(240, 240, 240);
		margin-top: 40px;
		&:focus {
			background: rgb(240, 240, 240);
		}
		div {
			margin: auto;
			display: flex;
		}
		svg {
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 5px;
		}
		p {
			margin: 0 0 0 5px;
		}
	}
	.preview-button {
		margin-top: 15px;
		width: 100%;
		background: rgb(240, 240, 240);
		&:focus {
			background: rgb(240, 240, 240);
		}
		div {
			margin: auto;
			display: flex;
		}
		svg {
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 5px;
		}
		p {
			margin: 0 0 0 5px;
		}
	}
	.remove-button {
		margin-top: 15px;
		width: 100%;
		background: rgb(255, 116, 116);
		&:focus {
			background: rgb(255, 116, 116);
		}
		div {
			margin: auto;
			display: flex;
		}
		svg {
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 5px;
		}
		p {
			margin: 0 0 0 5px;
		}
	}
	.slides-container {
		height: 400px;
		overflow-y: scroll;
	}
}
.slides-settings-hide {
	display: flex;
	width: 30%;
	left: 35%;
	margin: 10px;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	bottom: 15%;
	padding: 10px;
	.section-title {
		margin: 0 0 0 15px;
	}
	.show-button {
		margin-left: auto;
	}
}
.storymap-controls {
	.hide-button {
		position: absolute;
		left: 89%;
		top: 1%;
	}
	.section-title {
		margin: 0 0 15px 0;
	}
}
.search-adress-input {
	position: absolute;
	top: 0;
	left: 10px;
}
.tooltip {
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	display: none !important;
}
.lock-location-button {
	&:hover {
		~ {
			.tooltip {
				display: block !important;
			}
		}
	}
}

.slides-container h2.components-panel__body-title:before {
	display: block;
   content: "=";
   font-size: 22px;
   cursor: grabbing;
}

.slides-container h2.components-panel__body-title {
   display: flex;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 13px 4px;
}


.editor-styles-wrapper .wp-block[data-type="jeo/storymap"] {
   max-width: 97%;
}