php_value memory_limit 2048M
php_value upload_max_filesize 1024M
php_value post_max_size 1024M
php_value max_execution_time 600
php_value max_input_time 600
php_value max_input_vars 5000
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

