div.jeomap {
	position: relative;
	width: 600px;
	height: 600px;
}

.jeomap nav {
	background: #fff;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
	border: 1px solid rgba(0,0,0,0.4);
}

.jeomap nav a {
	color: #404040;
	display: block;
	margin: 0;
	padding: 2px 10px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	text-align: center;
}

.jeomap nav a.active {
	font-weight: bold;
}

.jeomap nav a:hover {
	background-color: #f8f8f8;
	color: #404040;
}

.jeomap nav a.active {
	background-color: #3887be;
	color: #ffffff;
}

.jeomap nav a.active:hover {
	background: #3074a4;
}

.jeomap div.more-info-overlayer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 10;
	display: none;
	overflow-y: auto;
	padding: 0 20px 20px;
}

.jeomap div.more-info-overlayer .jeomap {
	display: none;
}

.jeomap > div > a.more-info-close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 11;
	cursor: pointer;
}

.jeomap a.more-info-button {
	background: #fff;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 1;
	border: 1px solid rgba(0,0,0,0.4);
	color: #404040;
	display: block;
	margin: 0;
	padding: 2px 10px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	text-align: center;
	cursor: pointer;
}
