.react-autosuggest__suggestion {
	margin: 0;
}

.react-autosuggest__suggestion:nth-of-type(even) {
	background-color: #f9f9f9;
}

.react-autosuggest__suggestion:hover {
	background-color: aliceblue;
}

.jeo-geo-autocomplete {
	padding: 5px;
}
