.components-panel__row.jeo-meta-selector {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.jeo-meta-selector label {
	margin-bottom: 10px;
}

.jeo-meta-selector fieldset {
	border: 1px solid #e2e4e7;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 10px;
}

.jeo-meta-selector button {
	margin-top: 10px;
}
